// SCSS pour Hangman

/* Head */

h1, h3 {
    text-align: center;
}

h1 {
    font-size: 60px;
}


/* Main */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}
.word {
    text-align: center;
    ul {
        font-size: 50px;

        li {
            display: inline-block;
            padding-right: 1em;
        }
    }
}

#letters {
    text-align: center;

    ul {
        li {
            display: inline-block;
        }
    }
}

p {
    text-align: center;

}

.playagain {
    text-align: center;

}
#word {
    font-size: 50px;
}
button {
    padding: 12px;
}