// SCSS pour Hangman

body {
    font-family: 'Mansalva', cursive;

}
html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

/* Head */

h1, h3 {
    text-align: center;

}

h1 {
    font-size: 60px;
}


/* Main */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}
.word {
    text-align: center;
    ul {
        font-size: 50px;

        li {
            display: inline-block;
            padding-right: 1em;
        }
    }
}

#letters {
    text-align: center;

    ul {
        li {
            display: inline-block;
        }
    }
}

p {
    text-align: center;

}

.playagain {
    text-align: center;

}
#word {
    font-size: 50px;
}
button {
    padding: 18px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 12px;
    font-family: 'Mansalva', cursive;

}
button:hover {

    padding: 18px;
    background-color: black;
    color: white;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;

}

/* Footer */


